<!-- INÍCIO DO CONTEÚDO -->
<br>
<section class="content-header mt-5">
  <h1>Sobre</h1>
</section>

<section class="content">
    <p class="lead">
      Movie Application | Aplicação que apresentação os melhores filmes, indicados por quem assistiu.
    </p>
    <p class="lead">
      MIT license
    </p>
    <p class="lead">Copyright 2018 (<a target="_blank" href="https://github.com/ricardogomessaraiva">Ricardo G. Saraiva</a>)</p>
    
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
    

  </section>
<!-- FIM DO CONTEÚDO -->
