<!-- CONTENT PROJECTION-->
<mov-header size="6" label="Conectar"></mov-header>


<!-- REACTIVE FORMS -->
<form [formGroup]="loginForm" novalidate>
  <div class="col-6 p-3 mt-3 mx-auto border border-dark">
    <!-- CONTENT PROJECTION-->
    <div class="row">
      <div class="col-sm-12 col-xs-12 mt-3">

        <mov-input-container label="username" successMessage="Muito bom!" errorMessage="* Oops! Informe um usuário válido.">
          <input type="text" class="form-control form-control-lg" autocomplete="off" formControlName="username" placeholder="Usuário de acesso">
        </mov-input-container>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-xs-12 mt-3">

        <mov-input-container label="Senha" successMessage="Muito bom!" errorMessage="* Oops! Digite uma senha válida.!">
          <input type="password" class="form-control form-control-lg" autocomplete="off" formControlName="password" placeholder="Senha de acesso">
        </mov-input-container>

      </div>
    </div>

    <!-- CONTENT PROJECTION FIM-->

    <div class="row">
      <div class="col-12 col-xs-12 mt-3 mb-3">
        <div>
          <button [disabled]="!loginForm.valid " (click)="save()" class="btn btn-dark pull-right">Acessar</button>
        </div>
        <div class="mt-3">
          <a [routerLink]="['/register']">Não tem uma conta?</a>
        </div>
      </div>
    </div>
  </div>
</form>