<div class="tab-pane fade show" routerLinkActive="active" id="rated" role="tabpanel" aria-labelledby="rated-tab">
    <div class="row">
        <div class="col-xs-3 col-sm-3 mt-2">
            <div class="card mt-4 border border-dark">
                <div class="card-body">
                    <div class="row">
                        <img style="height: 40px" src="../../../assets/reactions/like_c.jpeg">
                        <h5 class="card-title ml-2 mt-2">Ricardo</h5>
                        <small class="text-muted ml-3 mt-2">10/11/2017</small>
                    </div>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 mt-2">
            <div class="card mt-4 border border-dark">
                <div class="card-body">
                    <div class="row">
                        <img style="height: 40px" src="../../../assets/reactions/like_c.jpeg">
                        <h5 class="card-title ml-2 mt-2">Ricardo</h5>
                        <small class="text-muted ml-3 mt-2">10/11/2017</small>
                    </div>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 mt-2">
            <div class="card mt-4 border border-dark">
                <div class="card-body">
                    <div class="row">
                        <img style="height: 40px" src="../../../assets/reactions/soso_c.jpeg">
                        <h5 class="card-title ml-2 mt-2">Ricardo</h5>
                        <small class="text-muted ml-3 mt-2">10/11/2017</small>
                    </div>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 mt-2">
            <div class="card mt-4 border border-dark">
                <div class="card-body">
                    <div class="row">
                        <img style="height: 40px" src="../../../assets/reactions/dislike_c.jpeg">
                        <h5 class="card-title ml-2 mt-2">Ricardo</h5>
                        <small class="text-muted ml-3 mt-2">10/11/2017</small>
                    </div>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 mt-2">
            <div class="card mt-4 border border-dark">
                <div class="card-body">
                    <div class="row">
                        <img style="height: 40px" src="../../../assets/reactions/soso_c.jpeg">
                        <h5 class="card-title ml-2 mt-2">Ricardo</h5>
                        <small class="text-muted ml-3 mt-2">10/11/2017</small>
                    </div>
                    <hr>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<br>
<br>