<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">Movie Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link font-weight-bold" [routerLink]="['/movies']">Filmes</a>
        </li>
        <li class="nav-item font-weight-bold" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/new-movie']" href="#">Novo</a>
        </li>
        <li class="nav-item font-weight-bold" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about']">Sobre</a>
        </li>
        <li *ngIf="user != undefined" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-weight-bold" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ricardo G Saraiva</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Editar</a>
            <a class="dropdown-item" href="#">Deslogar</a>
          </div>
        </li>
        <li *ngIf="user == undefined" class="nav-item font-weight-bold" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/login']">Conectar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>