<div class="tab-pane fade show" routerLinkActive="active" id="rating" role="tabpanel" aria-labelledby="rating-tab">
    <div class="mt-4">
        <form [formGroup]="formRating" novalidate>
            <mov-rating [rates]="rates" formControlName="rate"></mov-rating>

            {{formRating.value | json}}
            <div>
                <button (click)="save()" type="button" class="form-control btn btn-dark mt-3 mb-6">Salvar</button>
            </div>
            <br>
        </form>
    </div>
</div>